html,body{

 height: 100%;
 margin: 0;
 padding: 0;
}

#map{
  height: 50%;
}


#nav-box{
  height: 15%;
}

#pano {
        width: 200px;
        height: 200px;
      }

#toggle-drawing{
  width: 27%;
  position: relative;
  margin-top: auto;
}
